body {
    margin: 0;
    font-family: sans-serif;
}

header, footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
}

nav {
    background-color: #000;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin: 0  2em;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;

}

.container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 0;
    

}

main {
    background-color: #ccc;
    padding: 5em;
    
}

aside {
    background-color: white;
    padding: 5em;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
}
